# ============================================================
# LaTeX auxiliary files
# ============================================================
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lot
*.lof
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.xdv
*.dvi

# ============================================================
# LaTeX output
# ============================================================
*.pdf

# ============================================================
# Auxiliary images
# ============================================================
*.png
*.jpg

# ============================================================
# CTAN package
# ============================================================
tds/
europasscv2025/
*.tds.zip
*.tar
*.tar.gz